.main {
  padding: 0 250px;
}

/* quotes */
.main__quotes {
  margin-top: -100px;
  position: relative;
  margin-bottom: 100px;
}

.main__quotes__text {
  width: 500px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 1;
}

.main__quotes__text p {
  font-size: 15px;
}

.main__quotes__text__author {
  margin-top: 10px;
  color: #FF5F61;
}

/* welcome 1 & 2*/
.main__welcome1 {
  padding-top: 100px;
}
.main__welcome2 {
  padding-top: 100px;
}

.main__welcome1, .main__welcome2, .main__footer, .main__cards {
  display: flex;
  justify-content: space-between;
}

.main__welcome1__text, .main__welcome2__text {
  width: 500px;
}

.main__welcome1__text p, .main__welcome2__text p {
  margin: 20px 0;
  color: #ACACAC;
}

.main__welcome1__image, .main__welcome2__image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.main__cards {
  padding: 80px 0;
  text-align: center;
}

/* footer */
.main__footer {
  border-top: 1px solid #ACACAC;
  color: #ACACAC;
  padding: 20px 0;
  font-size: 15px;
}

.main__footer span {
  margin: 0 15px;
}

.main__footer a {
  color: #ACACAC;
  text-decoration: none;
  margin: 0 10px;
}

.main__footer a:hover {
  color: black;
}
